.mdk-chip {
	outline: none;

	display: flex;
	flex-direction: row;
	gap: .5em;
	justify-content: space-evenly;

	transition-property: width, border-color, background-color, color, box-shadow;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;

	border-color: var(--mdk-outline-variant);
	border-radius: var(--mdk-corner-small);
	border-width: 1px;
	border-style: solid;

	padding-top: .5em;
	padding-bottom: .5em;

	background-color: transparent;

	&.mdk-chip-elevated {
		border-width: 0;
		margin: 1px;

		box-shadow: 0 1px 3px 1px color-mix(in srgb, var(--mdk-shadow) 25%, transparent);
		background-color: var(--mdk-surface);
	}
}

.mdk-chip-leading, .mdk-chip-trailing {
	position: relative;
	width: .7em;

	transition-property: width, color;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;

	&.mdk-chip-absent {
		width: .25em;
		color: transparent;
	}

	& .mdk-chip-slot {
		position: absolute;
		top: 0;
	}
}
