.mdk-chip-assist {
	color: var(--mdk-surface-on);
}

.mdk-chip-assist:not(:disabled) {
	& .mdk-chip-leading {
		color: var(--mdk-primary);
	}

	&:hover {
		background-color: color-mix(in srgb, var(--mdk-surface-on) var(--mdk-state-hover-opacity), transparent);
	}

	&:focus {
		background-color: color-mix(in srgb, var(--mdk-secondary) var(--mdk-state-focus-opacity), transparent);
	}
}

.mdk-chip-assist:disabled {
	color: color-mix(in srgb, var(--mdk-surface-on) 38%, transparent);
	border-color: var(--mdk-surface-on);
}
