.mdk-button-elevated {
	outline: none;

	box-shadow: 3px 2px 2px color-mix(in srgb, var(--mdk-shadow) 10%, transparent), 0 0 15em color-mix(in srgb, var(--mdk-shadow) 10%, transparent);

	background-color: var(--mdk-surface-cont-low);
	color: var(--mdk-primary);
}

.mdk-button-elevated:disabled {
	box-shadow: none;
	background-color: color-mix(in srgb, var(--mdk-surface-on) 12%, transparent);
	color: color-mix(in srgb, var(--mdk-surface-on) 38%, transparent);
}

.mdk-button-elevated:hover:not(:disabled) {
	background-color: color-mix(in srgb, var(--mdk-primary) 8%, var(--mdk-surface-cont-low));
}

.mdk-button-elevated:focus:not(:disabled) {
	background-color: color-mix(in srgb, var(--mdk-primary) 10%, var(--mdk-surface-cont-low));
}
