.mdk-button-filled {

	outline: none;

	background-color: var(--mdk-primary);
	color: var(--mdk-primary-on);
}

.mdk-button-filled:disabled {
	background-color: color-mix(in srgb, var(--mdk-surface-on) 12%, transparent);
	color: color-mix(in srgb, var(--mdk-surface-on) 38%, transparent);
}

.mdk-button-filled:hover:not(:disabled) {
	background-color: color-mix(in srgb, var(--mdk-primary-on) var(--mdk-state-hover-opacity), var(--mdk-primary));
}

.mdk-button-filled:focus:not(:disabled) {
	background-color: color-mix(in srgb, var(--mdk-primary-on) var(--mdk-state-focus-opacity), var(--mdk-primary));
}
